<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Car Listings</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Home </a>
      </li>
      <li class="nav-item" *ngIf="afAuth.authState | async as user">
        <a class="nav-link" [routerLink]="['/listings']">Listings</a>
      </li>
      <li class="nav-item" *ngIf="afAuth.authState | async as user">
        <a class="nav-link" [routerLink]="['/add-listing']">Add Listing</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="afAuth.authState | async as user">
      <li class="nav-item">
          <a class="nav-link" href="">Hello {{ user.displayName }}!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>