<div class="jumbotron text-center">
  <div class="container">
    <h1>Car listings</h1>
    <p>Access the hottest cars available</p>
    <p>
      <a><img src="assets/img/google.png" class="img-fluid" (click)="signInWithGoogle()"></a>
      <a><img src="assets/img/twitter.png" style="height: 2.5rem; width:11rem" class="img-fluid" (click)="signInWithTwitter()"></a>
      <a><img src="assets/img/facebook.png" style="height: 2.5rem; width:11rem" class="img-fluid" (click)="signInWithFacebook()"></a>
    </p>
    
  </div>
</div>
